[user]
	name = dalyIsaac
	email = isaac.daly@outlook.com
	signingkey = 941249FA05E0F4FB
[gpg]
	program = /mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe
[core]
	editor = /mnt/c/Users/isaac/AppData/Local/Programs/Microsoft\\ VS\\ Code/bin/code --wait
[commit]
	gpgsign = true

